* {margin: 0; padding: 0}

body {
  font-family: Sans-Serif; 
  margin-top: 10px;
  margin-left: 100px;
  padding-bottom: 40px;
  background: lightyellow;
}

a {
  color: brown;
}

a.simple {
  border: 0;
}

a:hover {
  background-color: gold;
}

td {
  margin: 0;
  padding-left:2px;
  padding-right:2px;
  padding-bottom:2px;
  padding-top:2px;
}

img {
  margin: 0;
  padding: 0;
}
